<div class="js_num_pagination">  
  <a class="js_number_pick" rel="nofollow" data-no-instant href="#">
    <span class="js_sr_txt">{{settings.pagination_limit}} per page</span>    
    <i class="las la-angle-down"></i>
  </a>
  <div class="nt_numberby"> 
    <div class="js_ajaxnumby">
     	<a class="truncate " href="#">{{settings.pagination_limit}} per page</a>
    </div>
  </div>
</div>