<div class="popup-wishlist-full mfp-with-anim" data-popup-content>
    <div class="popup-wishlist-full__head">
        <h2 class="title" data-js-store-lists-has-items-wishlist>{{ 'general.wishlist-full.title' | t }}</h2>
      	<i class="icon-x" data-js-popup-close=""></i>     
    </div>
    <div class="popup-wishlist-full__content"></div>
</div>