<div class="popup-compare-full  mfp-with-anim" data-popup-content>
    <div class="popup-compare-full__head">
      	<h3 class="title">{{ 'general.compare.title' | t }}</h3>
        <i class="icon-x" data-js-popup-close></i>
    </div>
    <div class="popup-compare-full__content"></div>
</div>