<a href="{{ url }}" data-pid="{{ current_variant_id }}" class="js_quick_view button-quick-view"
   data-js-popup-button="quick-view" 
   >
  <i class="laber-icon icon-eye"></i>
  <i aria-hidden="true" class="laber-loading fa fa-spinner fa-spin fa-3x fa-fw"></i>	
  <span class="text">{{'products.grid_items.quick_view' | t  }}</span>
</a>