<div class="wrap-function-info">
  <div class="container">
    <ul>
      <li class="fc-info-item">
        <i class="fa fa-truck" aria-hidden="true"></i>
        <div class="wrap-left-info">
          <h4 class="fc-name">Free Shipping</h4>
          <p class="fc-desc">Free On Oder Over $99</p>
        </div>

      </li>
      <li class="fc-info-item">
        <i class="fa fa-recycle" aria-hidden="true"></i>
        <div class="wrap-left-info">
          <h4 class="fc-name">Guarantee</h4>
          <p class="fc-desc">30 Days Money Back</p>
        </div>

      </li>
      <li class="fc-info-item">
        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
        <div class="wrap-left-info">
          <h4 class="fc-name">Safe Payment</h4>
          <p class="fc-desc">Safe your online payment</p>
        </div>

      </li>
      <li class="fc-info-item">
        <i class="fa fa-life-ring" aria-hidden="true"></i>
        <div class="wrap-left-info">
          <h4 class="fc-name">Online Suport</h4>
          <p class="fc-desc">We Have Support 24/7</p>
        </div>

      </li>
    </ul>
  </div>
</div>
<!--End function info-->