{% liquid
  assign se_blocks = section.blocks 
  assign tp_blocks = se_blocks | map: 'type' | join: ',' | remove:',link2' | remove:',link' | remove:',pr' | remove:',banner' | remove:',html' | remove:',cat' | split: ','
%}
{%- if template.suffix == "item_menu" and template.name == 'search' -%}
	{%- render 'menu_import',section:section -%}	
{%- else -%}
  <div data-section-id="{{ section.id }}" data-section-type="header-section">
    {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
      {% include 'header_5' %}
  </div>
{%- endif -%}
<script>
  $(document).ready(function() {
    var lastScrollTop = 0;
    $(window).scroll(function(event){
      var st = $(this).scrollTop();
      var headerTop = $(".header-top");
      if (st > lastScrollTop){
        headerTop.removeClass("sticky-header animated fadeInDown");
      } else {
        if($(window).width() >= 1024){
          if(st > 98){
            headerTop.addClass("sticky-header animated fadeInDown");
          }else{
            headerTop.removeClass("sticky-header animated fadeInDown");
          }
        }
      }
      lastScrollTop = st;
    });
  });
</script>
{% schema %}
  {
    "name": "Header style 5",
	"class": "header_megamenu",
    "settings": [	
	  {
        "type": "header",
        "content": "Main header settings"
      },
		{
          "type": "select",
          "id": "layout",
          "default": "full-width",
          "options": [
           {
              "value": "container",
              "label": "Container"
           },
           {
              "value": "full-width",
              "label": "Full Width"
            }
          ],
          "label": "Layout"
        },	  
	
        {
        "type":"header",
        "content":" ----- Right header settings ----- "
        },
      {
      "type": "checkbox",
      "id": "header_use_search_home",
      "label": "Show search on header",
      "default": true
      },
		
	  {
        "type": "checkbox",
        "id": "header_use_cart_home",
        "label": "Show cart on header",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "header_use_wishlist_home",
        "label": "Show wishlist on header",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "header_use_compare_home",
        "label": "Show compare on header",
        "default": true
      },
		{
          "type": "checkbox",
          "id": "header_use_account",
          "label": "Display account on header",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "button_tell_me",
        "label": "Display Button tell me",
        "default": true
        },
	  {
        "type": "select",
        "id": "col_right",
        "default": "4",
        "options": [
        {
        "value": "1",
        "label": "1/12 (8.333333%)"
        },
        {
        "value": "2",
        "label": "2/12 (16.666667%)"
        },
        {
        "value": "15",
        "label": "2/10 (20%)"
        },
        {
        "value": "3",
        "label": "3/12 (25%)"
        },
        {
        "value": "4",
        "label": "4/12 (33.333333%)"
        },
        {
        "value": "5",
        "label": "5/12 (41.666666%)"
        },
        {
        "value": "6",
        "label": "6/12 (50%)"
        },
        {
        "value": "7",
        "label": "7/12 (58.333333%)"
        },
        {
        "value": "8",
        "label": "8/12 (66.666667%)"
        },
        {
        "value": "9",
        "label": "9/12 (75%)"
        },
        {
        "value": "10",
        "label": "10/12 (83.333333%)"
        },
        {
        "value": "11",
        "label": "11/12 (91.666667%)"
        },
        {
        "value": "12",
        "label": "12/12 (100%)"
        }
        ],
        "label": "Width col:"
        },	
      {
        "type": "header",
        "content": "Menu settings"
      },      
	  {
		"type":"header",
		"content":" ----- Main menu ----- "
	  },
	  {
        "type": "select",
        "id": "align",
         "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
         ],
        "label": "Main menu align:",
        "default": "center"
        }, 
        {
            "type": "color",
            "id": "background_header",
            "label": "Background header",
            "default": "#fff"
        },
        { 
          "type": "checkbox",
          "id": "enable_icon_menu",
          "label": "Enable label on menu",
          "default": true
        }

    ],
	"blocks": [
      {
        "type": "mega",
        "name": "Mega Menu (Parent)",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
         {
            "type": "url",
            "id": "url",
            "label": "Link"
         },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in"
          },
          {
            "id": "icon",
            "type": "text",
            "label": "Icon",
            "info":"[Get icons Line awesome](https://icons8.com/line-awesome) Example: bell"
          },
          {
            "type": "checkbox",
            "id": "cus_cl",
            "label": "Use custom heading color?",
            "default": false
          },
          {
            "type":"color",
            "id":"cl",
            "default": "#ec0101",
            "label":"Heading color"
          },
          {
            "type":"text",
            "id":"lb",
            "label":"Label text"
          },
          {
            "type":"color",
            "id":"lb_cl",
            "label":"Label color"
          },
          {
          "type": "checkbox",
          "id": "pos_rel",
          "label": "Position relative",
          "default": false
          }, 
          {
            "type": "select",
            "id": "wid",
            "options": [
              {
                "value": "cus",
                "label": "Custom"
              },
              {
                "value": "full",
                "label": "Full Width"
              },
              {
                "value": "full container",
                "label": "Content Full Width"
              }
            ],
            "label": "Width Submenu:"
          },
          {
            "type": "range",
            "id": "cus_wid",
            "label": "== Custom Width",
            "min": 200,
            "max": 1200,
            "step": 50,
            "default": 1200,
            "unit": "px"
          },
          {
          "type": "color", 
          "id": "bg",
          "label": "Select background color",
          "default": "#fff"
          }, 
          {
          "type": "image_picker",
          "id": "image",
          "label": "Background image"
          }


        ]
      },
      {
        "type": "dropdown",
        "name": "Dropdown Menu (lv 1)",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
         {
            "type": "url",
            "id": "url",
            "label": "Link"
         },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Add menu"
          },
          {
            "id": "icon",
            "type": "text",
            "label": "Icon",
            "info":"[Get icons Line awesome](https://icons8.com/line-awesome) Example: bell"
          },
          {
            "type": "checkbox",
            "id": "cus_cl",
            "label": "Use custom heading color?",
            "default": false
          },
          {
            "type":"color",
            "id":"cl",
            "default": "#ec0101",
            "label":"Heading color"
          },
          {
            "type":"text",
            "id":"lb",
            "label":"Label text"
          },
          {
            "type":"color",
            "id":"lb_cl",
            "label":"Label color"
          }
        ]
      },
      {
        "type": "simple",
        "name":"Item no children (lv 1)",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
         {
            "type": "url",
            "id": "url",
            "label": "Link",
            "default": "/"
         },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in"
          },
          {
            "id": "icon",
            "type": "text",
            "label": "Icon",
            "info":"[Get icons Line awesome](https://icons8.com/line-awesome) Example: bell"
          },
          {
            "type": "checkbox",
            "id": "cus_cl",
            "label": "Use custom heading color?",
            "default": false
          },
          {
            "type":"color",
            "id":"cl",
            "default": "#ec0101",
            "label":"Heading color"
          },
          {
            "type":"text",
            "id":"lb",
            "label":"Label text"
          },
          {
            "type":"color",
            "id":"lb_cl",
            "label":"Label color"
          }
        ]
      },     
      {
        "type": "link",
        "name":"↳ Linklist (child)",
        "settings": [
          {
            "type": "text",
            "id": "tt_hd",
            "label": "Heading",
            "default": "Heading"
          },
         {
            "type": "url",
            "id": "url",
            "label": "Link"
         },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Add menu"
          },
           {
            "type": "select",
            "id": "col",
            "default": "4",
            "options": [
              {
                "value": "1",
                "label": "1/12 (8.333333%)"
              },
              {
                "value": "2",
                "label": "2/12 (16.666667%)"
              },
			  {
                "value": "15",
                "label": "2/10 (20%)"
              },
              {
                "value": "3",
                "label": "3/12 (25%)"
              },
              {
                "value": "4",
                "label": "4/12 (33.333333%)"
              },
              {
                "value": "6",
                "label": "6/12 (50%)"
              },
              {
                "value": "7",
                "label": "7/12 (58.333333%)"
              },
              {
                "value": "8",
                "label": "8/12 (66.666667%)"
              },
              {
                "value": "9",
                "label": "9/12 (75%)"
              },
              {
                "value": "10",
                "label": "10/12 (83.333333%)"
              },
              {
                "value": "11",
                "label": "11/12 (91.666667%)"
              },
              {
                "value": "12",
                "label": "12/12 (100%)"
              }
            ],
            "label": "Width col:"
           }
        ]
      },
      {
        "type": "link2",
        "name":"↳ Linklist 2 ( child )",
        "settings": [
          {
            "type": "select",
            "id": "col",
            "default": "4",
            "options": [
              {
                "value": "1",
                "label": "1/12 (8.333333%)"
              },
              {
                "value": "2",
                "label": "2/12 (16.666667%)"
              },
              {
              "value": "15",
              "label": "2/10 (20%)"
              },
              {
                "value": "3",
                "label": "3/12 (25%)"
              },
              {
                "value": "4",
                "label": "4/12 (33.333333%)"
              },
              {
                "value": "6",
                "label": "6/12 (50%)"
              },
              {
                "value": "7",
                "label": "7/12 (58.333333%)"
              },
              {
                "value": "8",
                "label": "8/12 (66.666667%)"
              },
              {
                "value": "9",
                "label": "9/12 (75%)"
              },
              {
                "value": "10",
                "label": "10/12 (83.333333%)"
              },
              {
                "value": "11",
                "label": "11/12 (91.666667%)"
              },
              {
                "value": "12",
                "label": "12/12 (100%)"
              }
            ],
            "label": "Width col:"
          },
          {
            "type": "link_list",
            "id": "menu", 
            "label": "Add menu"
          }
           
        ]
      },
      {
        "type": "pr",
        "name":"↳ Product (child)",
        "settings": [
		 {
            "type": "text",
            "id": "tt_Product",
            "label": "Heading",
            "default": "Trending Products"
          },		
          {
            "type": "range",
            "id": "limit",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "Products per page",
            "info": "Number of products per page",
            "default": 3
          },
          {
            "id": "id_cat",
            "type": "collection",
            "label": "Collection"
          },
              
           {
            "type": "select",
            "id": "col",
            "default": "4",
            "options": [
              {
                "value": "1",
                "label": "1/12 (8.333333%)"
              },
              {
                "value": "2",
                "label": "2/12 (16.666667%)"
              },
			  {
                "value": "15",
                "label": "2/10 (20%)"
              },	
              {
                "value": "3",
                "label": "3/12 (25%)"
              },
              {
                "value": "4",
                "label": "4/12 (33.333333%)"
              },
              {
                "value": "6",
                "label": "6/12 (50%)"
              },
              {
                "value": "7",
                "label": "7/12 (58.333333%)"
              },
              {
                "value": "8",
                "label": "8/12 (66.666667%)"
              },
              {
                "value": "9",
                "label": "9/12 (75%)"
              },
              {
                "value": "10",
                "label": "10/12 (83.333333%)"
              },
              {
                "value": "11",
                "label": "11/12 (91.666667%)"
              },
              {
                "value": "12",
                "label": "12/12 (100%)"
              }
            ],
            "label": "Width col:"
           }
        ]
      },
      {
        "type": "cat",
        "name":"↳ Collection (child)",
        "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },   
         {
           "type": "select",
           "id": "cat_design",
           "options": [
            {
               "value": "1",
               "label": "Default"
             },
             {
               "value": "2",
               "label": "Design 2"
             },
             /*{
               "value": "3",
               "label": "Design 3"
             },
             {
               "value": "4",
               "label": "Design 4"
             },
             {
               "value": "5",
               "label": "Design 5"
             },*/
             {
               "value": "6",
               "label": "Design 3"
             }
           ],
           "label": "Collections design",
           "default": "1"
         },
        {
          "type": "checkbox",
          "id": "hoverz",
          "label": "Enable zoom image on hover?",
          "default": true
        },
         {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title block (optional)",
            "info": "Leave empty to use 'collection title' title."
          },
         {
          "type": "select",
          "id": "col",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1/12 (8.333333%)"
            },
            {
              "value": "2",
              "label": "2/12 (16.666667%)"
            },
			{
                "value": "15",
                "label": "2/10 (20%)"
              }, 
            {
              "value": "3",
              "label": "3/12 (25%)"
            },
            {
              "value": "4",
              "label": "4/12 (33.333333%)"
            },
            {
              "value": "6",
              "label": "6/12 (50%)"
            },
            {
              "value": "7",
              "label": "7/12 (58.333333%)"
            },
            {
              "value": "8",
              "label": "8/12 (66.666667%)"
            },
            {
              "value": "9",
              "label": "9/12 (75%)"
            },
            {
              "value": "10",
              "label": "10/12 (83.333333%)"
            },
            {
              "value": "11",
              "label": "11/12 (91.666667%)"
            },
            {
              "value": "12",
              "label": "12/12 (100%)"
            }
          ],
          "label": "Width col:"
         }
        ]
      },
      {
        "type": "banner",
        "name":"↳ Banner (child)",
        "settings": [
        {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
          "label": "Link to (Optional)",
          "id": "url",
          "type": "url"
        },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in"
          },
         {
         "type": "header",
         "content": "== Content Settings"
         },
        {
            "type": "checkbox",
            "id": "enable_content_banner",
            "label": "show name collections",
            "default": false
          },
        {
          "type": "text",
          "id": "coll_name",
          "label": "name collections:",
          "default": "collections"
        },
         {
          "type": "select",
          "id": "col",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1/12 (8.333333%)"
            },
            {
              "value": "2",
              "label": "2/12 (16.666667%)"
            },
            {
            "value": "15",
            "label": "2/10 (20%)"
            },
            {
              "value": "3",
              "label": "3/12 (25%)"
            },
            {
              "value": "4",
              "label": "4/12 (33.333333%)"
            },
            {
              "value": "6",
              "label": "6/12 (50%)"
            },
            {
              "value": "7",
              "label": "7/12 (58.333333%)"
            },
            {
              "value": "8",
              "label": "8/12 (66.666667%)"
            },
            {
              "value": "9",
              "label": "9/12 (75%)"
            },
            {
              "value": "10",
              "label": "10/12 (83.333333%)"
            },
            {
              "value": "11",
              "label": "11/12 (91.666667%)"
            },
            {
              "value": "12",
              "label": "12/12 (100%)"
            }
          ],
          "label": "Width col:"
         }
        ]
      },
      {
        "type": "html",
        "name":"↳ HTML ( child )",
        "settings": [
          {
            "type": "html",
            "id": "html",
            "label": "HTML custom",
            "default": "HTML custom code"
          },
         {
          "type": "select",
          "id": "col",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1/12 (8.333333%)"
            },
            {
              "value": "2",
              "label": "2/12 (16.666667%)"
            },
            {
            "value": "15",
            "label": "2/10 (20%)"
            },
            {
              "value": "3",
              "label": "3/12 (25%)"
            },
            {
              "value": "4",
              "label": "4/12 (33.333333%)"
            },
            {
              "value": "6",
              "label": "6/12 (50%)"
            },
            {
              "value": "7",
              "label": "7/12 (58.333333%)"
            },
            {
              "value": "8",
              "label": "8/12 (66.666667%)"
            },
            {
              "value": "9",
              "label": "9/12 (75%)"
            },
            {
              "value": "10",
              "label": "10/12 (83.333333%)"
            },
            {
              "value": "11",
              "label": "11/12 (91.666667%)"
            },
            {
              "value": "12",
              "label": "12/12 (100%)"
            }
          ],
          "label": "Width col:"
         }
        ]
      }
   ],
	"default": {
      "blocks": [
        {
          "type": "simple",
          "settings": {
            "title": "Home","url":"/"
          }
        },
        {
          "type": "simple",
          "settings": {
            "title": "Demos","url":"#"
          }
        }
      ]
    }
  }
{% endschema %}
