{% liquid
  assign se_blocks = section.blocks 
  assign tp_blocks = se_blocks | map: 'type' | join: ',' | remove:',link2' | remove:',link' | remove:',pr' | remove:',banner' | remove:',html' | remove:',cat' | split: ','
%}
{%- if template.suffix == "item_menu" and template.name == 'search' -%}
	{%- render 'menu_import',section:section -%}	
{%- else -%}
  <div data-section-id="{{ section.id }}" data-section-type="header-section">
    {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
    
  
  
              {% include 'header' %}
  

     {%- unless type_name contains 'customers/' or customer != blank -%}
      <div id="login_pupop" class="hero_canvas" data-include="/search/?view=login">
        <div class="loading_bg"></div>
      </div>
     {%- endunless -%}
  </div>
{%- endif -%}
{% schema %}
  {
    "name": "Header",
    "settings": [	
	  {
        "type": "header",
        "content": "Main header settings"
      },
		{
          "type": "select",
          "id": "layout",
          "default": "full-width",
          "options": [
           {
              "value": "container",
              "label": "Container"
           },
           {
              "value": "full-width",
              "label": "Full Width"
            }
          ],
          "label": "Layout"
        },	  
      {
          "type": "color",
          "id": "background_header",
          "label": "Background header (Except homepage)",
          "default": "#111"
	  },
	  {
		"type":"paragraph",
		"content":" ----- Using settings ----- "
	  },
      
	  {
        "type": "checkbox",
        "id": "header_use_search_home",
        "label": "Show search on header",
        "default": true,
	    "info":"Except home 3"
      },
	  {
        "type": "checkbox",
        "id": "header_use_cart_home",
        "label": "Show cart on header",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "header_use_wishlist_home",
        "label": "Show wishlist on header",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "header_use_compare_home",
        "label": "Show compare on header",
        "default": true
      },
		{
          "type": "checkbox",
          "id": "header_use_account",
          "label": "Display account on header",
          "default": true
        },
      {
        "type": "header",
        "content": "Menu settings"
      },      
	  {
		"type":"paragraph",
		"content":" ----- Main menu ----- "
	  },
	  {
        "type": "select",
        "id": "align",
         "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
         ],
        "label": "Main menu align:",
        "default": "center"
        }, 
		{
          "type": "color",
          "id": "color_menu_text",
          "label": "Text color",
          "default": "#111"
        },
        {
          "type": "checkbox",
          "id": "enable_icon_menu",
          "label": "Enable label on menu",
          "default": true
        },
		{
          "type":"paragraph",
          "content":" ----- Sub menu ----- "
        },
		{
          "type": "link_list",
          "id": "nav_left",
          "label": "Left menu",
          "info": "Only show on header 2"
        },
        {
          "type": "link_list",
          "id": "nav_right",
          "label": "Right menu",
          "info": "Only show on header 2"
        }

    ],
	"blocks": [
      {
        "type": "mega",
        "name": "Mega Menu (Parent)",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
         {
            "type": "url",
            "id": "url",
            "label": "Link"
         },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in"
          },
          {
            "id": "icon",
            "type": "text",
            "label": "Icon",
            "info":"[Get icons Line awesome](https://icons8.com/line-awesome) Example: bell"
          },
          {
            "type": "checkbox",
            "id": "cus_cl",
            "label": "Use custom heading color?",
            "default": false
          },
          {
            "type":"color",
            "id":"cl",
            "default": "#ec0101",
            "label":"Heading color"
          },
          {
            "type":"text",
            "id":"lb",
            "label":"Label text"
          },
          {
            "type":"color",
            "id":"lb_cl",
            "label":"Label color"
          },
          {
            "type": "select",
            "id": "wid",
            "options": [
              {
                "value": "cus",
                "label": "Custom"
              },
              {
                "value": "full",
                "label": "Full Width"
              },
              {
                "value": "full container",
                "label": "Content Full Width"
              }
            ],
            "label": "Width Submenu:"
          },
          {
            "type": "range",
            "id": "cus_wid",
            "label": "== Custom Width",
            "min": 200,
            "max": 1200,
            "step": 50,
            "default": 1200,
            "unit": "px"
          }          
        ]
      },
      {
        "type": "dropdown",
        "name": "Dropdown Menu (lv 1)",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
         {
            "type": "url",
            "id": "url",
            "label": "Link"
         },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Add menu"
          },
          {
            "id": "icon",
            "type": "text",
            "label": "Icon",
            "info":"[Get icons Line awesome](https://icons8.com/line-awesome) Example: bell"
          },
          {
            "type": "checkbox",
            "id": "cus_cl",
            "label": "Use custom heading color?",
            "default": false
          },
          {
            "type":"color",
            "id":"cl",
            "default": "#ec0101",
            "label":"Heading color"
          },
          {
            "type":"text",
            "id":"lb",
            "label":"Label text"
          },
          {
            "type":"color",
            "id":"lb_cl",
            "label":"Label color"
          }
        ]
      },
      {
        "type": "simple",
        "name":"Item no children (lv 1)",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
         {
            "type": "url",
            "id": "url",
            "label": "Link",
            "default": "/"
         },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in"
          },
          {
            "id": "icon",
            "type": "text",
            "label": "Icon",
            "info":"[Get icons Line awesome](https://icons8.com/line-awesome) Example: bell"
          },
          {
            "type": "checkbox",
            "id": "cus_cl",
            "label": "Use custom heading color?",
            "default": false
          },
          {
            "type":"color",
            "id":"cl",
            "default": "#ec0101",
            "label":"Heading color"
          },
          {
            "type":"text",
            "id":"lb",
            "label":"Label text"
          },
          {
            "type":"color",
            "id":"lb_cl",
            "label":"Label color"
          }
        ]
      },     
      {
        "type": "link",
        "name":"↳ Linklist (child)",
        "settings": [
          {
            "type": "text",
            "id": "tt_hd",
            "label": "Heading",
            "default": "Heading"
          },
         {
            "type": "url",
            "id": "url",
            "label": "Link"
         },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Add menu"
          },
           {
            "type": "select",
            "id": "col",
            "default": "4",
            "options": [
              {
                "value": "1",
                "label": "1/12 (8.333333%)"
              },
              {
                "value": "2",
                "label": "2/12 (16.666667%)"
              },
              {
                "value": "3",
                "label": "3/12 (25%)"
              },
              {
                "value": "4",
                "label": "4/12 (33.333333%)"
              },
              {
                "value": "6",
                "label": "6/12 (50%)"
              },
              {
                "value": "7",
                "label": "7/12 (58.333333%)"
              },
              {
                "value": "8",
                "label": "8/12 (66.666667%)"
              },
              {
                "value": "9",
                "label": "9/12 (75%)"
              },
              {
                "value": "10",
                "label": "10/12 (83.333333%)"
              },
              {
                "value": "11",
                "label": "11/12 (91.666667%)"
              },
              {
                "value": "12",
                "label": "12/12 (100%)"
              }
            ],
            "label": "Width col:"
           }
        ]
      },
      {
        "type": "link2",
        "name":"↳ Linklist 2 ( child )",
        "settings": [
          {
            "type": "select",
            "id": "col",
            "default": "4",
            "options": [
              {
                "value": "1",
                "label": "1/12 (8.333333%)"
              },
              {
                "value": "2",
                "label": "2/12 (16.666667%)"
              },
              {
                "value": "3",
                "label": "3/12 (25%)"
              },
              {
                "value": "4",
                "label": "4/12 (33.333333%)"
              },
              {
                "value": "6",
                "label": "6/12 (50%)"
              },
              {
                "value": "7",
                "label": "7/12 (58.333333%)"
              },
              {
                "value": "8",
                "label": "8/12 (66.666667%)"
              },
              {
                "value": "9",
                "label": "9/12 (75%)"
              },
              {
                "value": "10",
                "label": "10/12 (83.333333%)"
              },
              {
                "value": "11",
                "label": "11/12 (91.666667%)"
              },
              {
                "value": "12",
                "label": "12/12 (100%)"
              }
            ],
            "label": "Width col:"
          },
          {
            "type": "link_list",
            "id": "menu", 
            "label": "Add menu"
          }
           
        ]
      },
      {
        "type": "pr",
        "name":"↳ Product (child)",
        "settings": [
          {
            "type": "range",
            "id": "limit",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "Products per page",
            "info": "Number of products per page",
            "default": 4
          },
          {
            "id": "id_cat",
            "type": "collection",
            "label": "Collection"
          },
          {
            "type": "range",
            "id": "column_pr",
            "label": "Column Product",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 6
          },          
          {
            "type": "checkbox",
            "id": "show_vendor",
            "label": "Show product vendors",
            "default": false
          },          
          {
            "type": "header",
            "content": "== Design Image"
          },
          {
            "type": "checkbox",
            "id": "use_eq_height",
            "label": "Use equal height images?",
            "default": false
          },
          {
            "type": "select",
            "id": "image_ratio",
            "label": "Aspect Ratio",
            "default": "ratio4_3",
            "info": "Aspect Ratio Custom will settings in General panel.",
            "options": [
              {
                "group": "Landscape",
                "value": "ratio2_1",
                "label": "2:1"
              },
              {
                "group": "Landscape",
                "value": "ratio16_9",
                "label": "16:9"
              },
              {
                "group": "Landscape",
                "value": "ratio8_5",
                "label": "8:5"
              },
              {
                "group": "Landscape",
                "value": "ratio3_2",
                "label": "3:2"
              },
              {
                "group": "Landscape",
                "value": "ratio4_3",
                "label": "4:3"
              },
              {
                "group": "Landscape",
                "value": "ratio_nt",
                "label": "Ratio ASOS"
              },
              {
                "group": "Squared",
                "value": "ratio1_1",
                "label": "1:1"
              },
              {
                "group": "Portrait",
                "value": "ratio2_3",
                "label": "2:3"
              },
              {
                "group": "Portrait",
                "value": "ratio1_2",
                "label": "1:2"
              },
              {
                "group": "Custom",
                "value": "ratio_cus1",
                "label": "Ratio Custom 1"
              }
            ]
          },
          {
            "type": "select",
            "id": "image_size",
            "label": "Image Size",
            "default": "nt_cover",
            "options": [
              {
                "value": "nt_cover",
                "label": "Full"
              },
              {
                "value": "nt_contain",
                "label": "Auto"
              }
            ]
          },
          {
            "type": "select",
            "id": "image_position",
            "info": "The first value is the horizontal position and the second value is the vertical.",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "1",
                "label": "Left Top"
              },
              {
                "value": "2",
                "label": "Left Center"
              },
              {
                "value": "3",
                "label": "Left Bottom"
              },
              {
                "value": "4",
                "label": "Right Top"
              },
              {
                "value": "5",
                "label": "Right Center"
              },
              {
                "value": "6",
                "label": "Right Bottom"
              },
              {
                "value": "7",
                "label": "Center Top"
              },
              {
                "value": "8",
                "label": "Center Center"
              },
              {
                "value": "9",
                "label": "Center Bottom"
              }
            ],
            "label": "Image Position",
            "default": "8"
          }, 
           {
            "type": "select",
            "id": "col",
            "default": "4",
            "options": [
              {
                "value": "1",
                "label": "1/12 (8.333333%)"
              },
              {
                "value": "2",
                "label": "2/12 (16.666667%)"
              },
              {
                "value": "3",
                "label": "3/12 (25%)"
              },
              {
                "value": "4",
                "label": "4/12 (33.333333%)"
              },
              {
                "value": "6",
                "label": "6/12 (50%)"
              },
              {
                "value": "7",
                "label": "7/12 (58.333333%)"
              },
              {
                "value": "8",
                "label": "8/12 (66.666667%)"
              },
              {
                "value": "9",
                "label": "9/12 (75%)"
              },
              {
                "value": "10",
                "label": "10/12 (83.333333%)"
              },
              {
                "value": "11",
                "label": "11/12 (91.666667%)"
              },
              {
                "value": "12",
                "label": "12/12 (100%)"
              }
            ],
            "label": "Width col:"
           }
        ]
      },
      {
        "type": "cat",
        "name":"↳ Collection (child)",
        "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },   
         {
           "type": "select",
           "id": "cat_design",
           "options": [
            {
               "value": "1",
               "label": "Default"
             },
             {
               "value": "2",
               "label": "Design 2"
             },
             /*{
               "value": "3",
               "label": "Design 3"
             },
             {
               "value": "4",
               "label": "Design 4"
             },
             {
               "value": "5",
               "label": "Design 5"
             },*/
             {
               "value": "6",
               "label": "Design 3"
             }
           ],
           "label": "Collections design",
           "default": "1"
         },
        {
          "type": "checkbox",
          "id": "hoverz",
          "label": "Enable zoom image on hover?",
          "default": true
        },
         {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title block (optional)",
            "info": "Leave empty to use 'collection title' title."
          },
         {
          "type": "select",
          "id": "col",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1/12 (8.333333%)"
            },
            {
              "value": "2",
              "label": "2/12 (16.666667%)"
            },
            {
              "value": "3",
              "label": "3/12 (25%)"
            },
            {
              "value": "4",
              "label": "4/12 (33.333333%)"
            },
            {
              "value": "6",
              "label": "6/12 (50%)"
            },
            {
              "value": "7",
              "label": "7/12 (58.333333%)"
            },
            {
              "value": "8",
              "label": "8/12 (66.666667%)"
            },
            {
              "value": "9",
              "label": "9/12 (75%)"
            },
            {
              "value": "10",
              "label": "10/12 (83.333333%)"
            },
            {
              "value": "11",
              "label": "11/12 (91.666667%)"
            },
            {
              "value": "12",
              "label": "12/12 (100%)"
            }
          ],
          "label": "Width col:"
         }
        ]
      },
      {
        "type": "banner",
        "name":"↳ Banner (child)",
        "settings": [
        {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
          "label": "Link to (Optional)",
          "id": "url",
          "type": "url"
        },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in"
          },
         {
         "type": "header",
         "content": "== Content Settings"
         },
        {
            "type": "checkbox",
            "id": "enable_content_banner",
            "label": "show content of banner?",
            "default": false
          },
        {
          "type": "html",
          "id": "html",
          "label": "Content HTML:",
          "default": "<h3>lighting collections<\/h3><h4>Explorer<\/h4>"
        },
       {
          "type": "range",
          "id": "cap_v_pos",
          "label": "Content vertical position",
          "default": 50,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%"
       },
       {
          "type": "range",
          "id": "cap_h_pos",
          "label": "Content horizontal position",
          "default": 50,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%"
       },
        {
         "type": "select",
         "id": "txt_align",
         "options": [
          {
             "value": "tl",
             "label": "Left"
           },
           {
             "value": "tc",
             "label": "Center"
           },
           {
             "value": "tr",
             "label": "Right"
           }
         ],
         "label": "Text alignment",
         "default": "tc"
        },
        {
          "type": "color",
          "id": "cl_txt",
          "label": "Text",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "cl_overlay",
          "label": "Overlay",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "cl_opacity",
          "label": "Overlay opacity",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%"
        },
         {
          "type": "select",
          "id": "col",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1/12 (8.333333%)"
            },
            {
              "value": "2",
              "label": "2/12 (16.666667%)"
            },
            {
              "value": "3",
              "label": "3/12 (25%)"
            },
            {
              "value": "4",
              "label": "4/12 (33.333333%)"
            },
            {
              "value": "6",
              "label": "6/12 (50%)"
            },
            {
              "value": "7",
              "label": "7/12 (58.333333%)"
            },
            {
              "value": "8",
              "label": "8/12 (66.666667%)"
            },
            {
              "value": "9",
              "label": "9/12 (75%)"
            },
            {
              "value": "10",
              "label": "10/12 (83.333333%)"
            },
            {
              "value": "11",
              "label": "11/12 (91.666667%)"
            },
            {
              "value": "12",
              "label": "12/12 (100%)"
            }
          ],
          "label": "Width col:"
         }
        ]
      },
      {
        "type": "html",
        "name":"↳ HTML ( child )",
        "settings": [
          {
            "type": "html",
            "id": "html",
            "label": "HTML custom",
            "default": "HTML custom code"
          },
         {
          "type": "select",
          "id": "col",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1/12 (8.333333%)"
            },
            {
              "value": "2",
              "label": "2/12 (16.666667%)"
            },
            {
              "value": "3",
              "label": "3/12 (25%)"
            },
            {
              "value": "4",
              "label": "4/12 (33.333333%)"
            },
            {
              "value": "6",
              "label": "6/12 (50%)"
            },
            {
              "value": "7",
              "label": "7/12 (58.333333%)"
            },
            {
              "value": "8",
              "label": "8/12 (66.666667%)"
            },
            {
              "value": "9",
              "label": "9/12 (75%)"
            },
            {
              "value": "10",
              "label": "10/12 (83.333333%)"
            },
            {
              "value": "11",
              "label": "11/12 (91.666667%)"
            },
            {
              "value": "12",
              "label": "12/12 (100%)"
            }
          ],
          "label": "Width col:"
         }
        ]
      }
   ],
	"default": {
      "blocks": [
        {
          "type": "simple",
          "settings": {
            "title": "Home","url":"/"
          }
        },
        {
          "type": "simple",
          "settings": {
            "title": "Demos","url":"#"
          }
        }
      ]
    }
  }
{% endschema %}
