@font-face {
    font-family: 'General Sans';
    src: url('./GeneralSans-Regular.woff2') format('woff2'), 
        url('./GeneralSans-Regular.woff') format('woff'),
        url('./GeneralSans-Regular.ttf') format('truetype');
        font-weight: normal;
        font-display: swap;
        font-style: normal;
}